.projects {
  padding: 80px 20px;
  background-color: white;
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  background: #eeeeee;
  border-radius: 10px;
  padding: 25px;
  width: 260px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}
