* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth; /* enables smooth scroll when clicking navbar links */
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
