body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fc;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.counter {
  font-size: 22px;
  margin-bottom: 20px;
  color: #555;
}

.btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #372fcc;
}
